{% extends 'event/base.html' %}
{% load i18n %}

{% block content %}
<div class="section">
    <h1>{% trans "Choose a new password" %}</h1>

    {% if validlink %}
      <form method="post">
          {% csrf_token %}
          {{ form.non_field_errors }}

          <div class="form-field--wrapper">
              <label for="{{ form.new_password1.id_for_label }}">
                  {{ form.new_password1.label }}
              </label>
              {{ form.new_password1 }}
              {% if form.new_password1.errors %}
                <div class="text-danger small">
                  {{ form.new_password1.errors|striptags }}
                </div>
              {% endif %}
          </div>

          <div class="form-field--wrapper">
              <label for="{{ form.new_password2.id_for_label }}">
                  {{ form.new_password2.label }}
              </label>
              {{ form.new_password2 }}
              {% if form.new_password2.errors %}
                <div class="text-danger small">
                  {{ form.new_password2.errors|striptags }}
                </div>
              {% endif %}
          </div>

          <div class="form-field--wrapper">
              <button type="submit" class="btn btn--primary">
                  {% trans "Change password" %}
              </button>
          </div>
      </form>
    {% else %}
      <p class="text-danger">
        {% trans "This password reset link is invalid or has expired. Please request a new one." %}
      </p>
    {% endif %}
</div>
{% endblock %}


