{% extends 'registration/base.html' %}
{% load i18n %}

{% block title %}{% trans "Forgot your password?" %}{% endblock title %}

{% block registration_message %}
  <p>
    {% blocktrans %}
      No worries, we’ve got you covered.
    {% endblocktrans %}
  </p>

  <p>
    {% blocktrans %}
      Just enter your email below, and we’ll send you simple instructions to reset your password so you can get back to exploring and sharing joyful steps with the Nordic Walking United community.
    {% endblocktrans %}
  </p>
{% endblock registration_message %}
{% block submit_button %}
<input type="submit" value="{% trans "Reset password" %}" />
{% endblock submit_button %}
