{# templates/registration/password_reset_done.html #}
{% extends "global/base.html" %}
{% load i18n %}

{% block content %}
<div class="container my-4">
  <h1>{% trans "Check your inbox" %}</h1>
  <p>
    {% trans "If an account exists with the email you entered, we've sent a message with a password reset link." %}
  </p>

  <p class="mt-3">
    <a href="{% url 'password_reset' %}">
      {% trans "Try again with a different email" %}
    </a>
    |
    <a href="{% url 'contact:contact_form' %}">
      {% trans "Say hello (contact us)" %}
    </a>
  </p>
</div>
{% endblock %}


{%comment%}

{% extends 'registration/base.html' %}
{% load i18n %}

{% block title %}
    {% trans "Check Your" context "Followed by mailbox icon, check your inbox or email" %} &#x1F4E5;
{% endblock title %}

{% block registration_message %}
<p>
{% url 'contact:landing' as contact_url %}
{% url 'password_reset' as reset_url %}
{% blocktrans trimmed %}
    We just sent reset instructions to your email. If you have any issues, <a href={{ reset_url }}>try again</a> and if
    you still don't get anything, <a href="{{ contact_url }}">say hello</a>!
{% endblocktrans %}
</p>
{% endblock registration_message %}
{%endcomment%}