{% extends 'global/base.html' %}
{% load i18n rev static %}

{% block content %}
    <div class="container organize organize-landing">

        <div class="row">
            <div class="col-xs-12">
                <h1>{% trans "Organize Nordic Walking United group and event" %}</h1>
            </div>
        </div>

        <div class="row">
            <section class="col-xs-12 col-md-8">
                <p>
                    {% blocktrans trimmed %}
                        Nordic Walking United events are organized by groups of wonderful volunteers in cities all over the world.
                        Events are always non-profit and free for participants. We <strong><u>DO NOT PAY</u></strong> organizers.
                        Attendees don’t need any previous knowledge about nordic walking and there are no age limitations.
                        All attendees need is some curiosity!
                    {% endblocktrans %}
                </p>

                <h3>{% trans "In-Person Workshops" %}</h3>

                <p>
                    {% blocktrans trimmed %}
                        An in-person walk is any event where participants organisers, all meet in the
                        same physical location.
                    {% endblocktrans %}
                </p>

                <p>
                    {% blocktrans trimmed %}
                        These walks should only be conducted when it is safe to do so, and you may be
                        asked in your application to provide evidence of why you feel this type of events is safe, and
                        what, if any, safety measures you will be putting in place.
                    {% endblocktrans %}
                </p>


                <p>
                {% url "organize:prerequisites" as prerequisites_url %}
                    {% blocktrans trimmed %}
                        Since July 2023, <span>{{ organizers_count }}</span> volunteers organized <span>{{ past_events_count }}</span>
                        Nordic Walking United groups. Join them and <a href="{{ prerequisites_url }}">bring Nordic Walking United to your city!</a>
                    {% endblocktrans %}
                </p>

                <h2>{% trans "The Value of Organizing Nordic Walking United" %}</h2>

                <ul class="bulleted">
                    <li>
                        <span>{% trans "Join a crowd of over 500 passionate, kind and helpful organizers all over the world" %}</span>
                    </li>
                    <li>
                        <span>{% trans "Make a real impact to advance the XXXXXXXXXXXXXXXXXXXX" %}</span>
                    </li>
                    <li>
                        <span>{% trans "Play a huge role in fostering Nordic Walking United community in your local area" %}</span>
                    </li>
                </ul>
            </section>

            <section class="col-xs-12 col-md-4 sidebar">
                <a href="{% url "organize:prerequisites" %}" class="cta">{% trans "Apply to organize a group" %}&nbsp;»</a>

                <div class="panel narrow">
                    <h2>{% trans "Resources for organizers" %}</h2>

                    <ul class="bulleted narrow">
                        <li>
                            <a href="https://organize.djangogirls.org/">{% trans "Nordic Walking United Organizer’s Manual" %}</a>
                        </li>

                        <li>
                            <a href="https://github.com/djangogirls/resources">{% trans "Media resources" %}</a>
                        </li>
                        <li>
                            <a href="https://tutorial.djangogirls.org/">{% trans "Nordic Walking United Workshop Tutorial" %}</a>
                        </li>
                        <li>
                            <a href="{% url 'organize:event_funding' %}">{% trans "Apply for Event Sponsorship" %}</a>
                        </li>

                    </ul>
                </div>
            </section>
        </div>


        <section class="media-blocks">
            <div class="row">
                <div class="col-xs-12">
                    <h2>{% trans "Experiences of Nordic Walking United organizers" %}</h2>
                </div>
            </div>

            <ul class="row">
                <li class="col-xs-12 col-md-4">
                    <img src="{% static 'img/photos/organize-1.jpg' %}" alt="Organizers of Nordic Walking United London" />
                    <p>
                        {% blocktrans trimmed %}
                            Organizers of Nordic Walking United, Namibia share their experience of organizing an event in
                            Africa. <a href="http://blog.djangogirls.org/post/139654610313/django-girls-workshop-in-windhoek-namibia">Read more&nbsp;»</a>
                        {% endblocktrans %}
                    </p>
                </li>
                <li class="col-xs-12 col-md-4">
                    <img src="{% static 'img/photos/organize-2.jpg' %}" alt="Organizers ofNordic Walking United Budapest" />
                    <p>
                        {% blocktrans trimmed %}
                            A Toolkit of Awesome: tips &amp; tricks from seasoned Django Girls organizers in Budapest, Hungary.
                            <a href="http://blog.djangogirls.org/post/138915381173/a-toolkit-of-awesome-tips-tricks-from-seasoned">Read more&nbsp;»</a>
                        {% endblocktrans %}
                    </p>
                </li>
                <li class="col-xs-12 col-md-4">
                    <img src="{% static 'img/photos/organize-3.jpg' %}" alt="Nordic Walking United Seoul" />
                    <p>
                        {% blocktrans trimmed %}
                            Learn how Django Girls Seoul built a local tech community using events as their main tool.
                            <a href="http://blog.djangogirls.org/post/152858499038/django-girls-seoul-workshop-2">Read more&nbsp;»</a>
                        {% endblocktrans %}
                    </p>
                </li>
            </ul>
        </section>

    </div>

{% endblock %}
